:root {
	--color-primary: #4EC690;
	--color-primary-highlight:  #D0E8DD;
	--color-blue: #1976D2;
	--color-text: rgba(0, 0, 0, 0.54);
}

body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

p {
	color: var(--color-text);
}

.v-dialog {
	box-shadow: none;
}

.link, a.link {
	color: var(--color-blue) !important;
	text-decoration: none;
}

.pointer {
	cursor: pointer;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
} 